<!DOCTYPE html>
<html lang = "ru">
 <head>
     <meta charset="UTF-8">
     <title>Поэмы</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 </head>
 <body>
  <h1>Поэмы</h1>
  <nav class="navbar navbar-light bg-light">
    <form class="form-inline" method="POST">
      <a href="write" class="btn btn-outline-danger">Написать продолжение</a>
      <a href="create" class="btn btn-outline-primary">Начать новую</a>
      <a href="read" class="btn btn-outline-success">Читать готовую</a>
      <a href="admin" class="btn btn-outline-dark">Администрирование</a>
      <button href="admin" class="btn btn-outline-warning" disabled>Оставить отзыв</button>
      <button href="admin" class="btn btn-outline-secondary" disabled>Читать отзывы</button>
      <button href="admin" class="btn btn-outline-success" disabled>Жалоба на пользователя</button>
      <button href="admin" class="btn btn-outline-danger" disabled>Выйти</button>
    </form>
  </nav>
 </body>
</html>
